<% include ./partials/header %>

<form method="POST" action="/register">
    <input type="text" name="username" placeholder="Username"></input>
    <input type="password" name="password" placeholder="Password"></input>
    <button>Register</button>
</form>

<% include ./partials/footer %>